.DeleteModal {
  &__action {
    display: flex;
    margin-top: 15px;
    justify-content: flex-end;
    gap: 16px;
  }

  &__btn {
    margin-left: 15px;
    background-color: var(--danger-color);

    &:hover {
      background-color: var(--danger-color);
    }

    &:active {
      background-color: var(--danger-color);
    }
  }
}