.TableContainer {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  background: var(--card-bg-color);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
}

.Table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  
  @media (width <= 768px) {
    min-width: 600px;
  }
}

.Table th,
.Table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid var(--tertiary-color);
  min-width: 100px;
  
  @media (width <= 768px) {
    white-space: nowrap;
  }
  
  @media (width >= 769px) {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-word;
  }
}
