.Button {
  padding: 10px 20px;
  background: var(--brand-color);
  color: var(--neutral-color);
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
  transition: background var(--transition-color-ms) linear,
              color var(--transition-color-ms) linear;

  &:hover {
    background: var(--brand-hover-color);
  }

  &:active {
    background: var(--brand-active-color);
  }

  &:disabled {
    background: var(--tertiary-color);
    cursor: default;
  }
  
  &:disabled:hover {
    background: var(--tertiary-color);
  }

  &_clear {
    border: none;
    background: var(--card-bg-color);
    color: var(--primary-color);

      &:hover {
        background: var(--card-hover-bg-color);
      }

      &:active {
        background: var(--card-active-bg-color);
      }
  }

  &_danger {
    background: var(--danger-color);
    color: var(--white-color);

    &:hover {
      background: var(--danger-hover-color);
    }

    &:active {
      background: var(--danger-color);
    }
  }

  &__loader {
    margin-right: 10px;
    color: var(--neutral-color);
    transition: color var(--transition-color-ms) linear;
  }

  &_loading {
    &:hover {
      background: var(--brand-color);
    }
  }
}
