.AssistantPage {
  padding-top: var(--page-padding-top);
  padding-bottom: var(--page-padding-bottom);

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    & button {
      margin-left: 15px;
    }
  }

  &__content {
    margin-bottom: 20px;
    padding: 15px;
    background: var(--card-bg-color);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
  }

  &__block {
    margin-bottom: 20px;

    &-input {
      margin-top: 5px;
    }

    &-context {
      min-height: 400px;
    }
  }

  &__action {
    display: flex;
    gap: 15px;
  }
}