.Tooltip {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--bg-color);
  border-radius: 12px;
  padding: 10px;
  z-index: 11;
  width: 360px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 10%);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: var(--inverted-bg-color);
    border-radius: 4px 4px 0 0;
    cursor: move;
    margin: -10px -10px 10px;
    user-select: none;

    span {
      font-weight: 500;
      color: var(--primary-color);
    }
  }

  &__pin {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--primary-color);
    transition: color 0.3s ease;

    &:hover {
      color: var(--brand-hover-color);
    }

    &_active {
      color: var(--brand-color);
    }
  }

  select {
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid var(--inverted-bg-color);
    border-radius: 4px;
    background-color: var(--bg-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: var(--brand-hover-color);
    }

    &:focus {
      outline: none;
      border-color: var(--brand-color);
      box-shadow: 0 0 3px var(--brand-color);
    }

    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  input {
    padding: 8px;
    border: 1px solid var(--inverted-bg-color);
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: var(--bg-color);
    color: var(--primary-color);

    &:focus {
      outline: none;
      border-color: var(--brand-color);
      box-shadow: 0 0 3px var(--brand-color);
    }
  }

  &__gen {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__gen-btn {
    width: 100%;
    padding: 8px 16px;
    color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 500;

    &:hover {
      background-color: var(--brand-hover-color);
    }

    svg {
      margin-left: 5px;
    }
  }

  &__response {
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--card-bg-color);
    border: 1px solid var(--secondary-color);
    border-radius: 12px;
    color: var(--primary-color);
    word-break: break-word;
    white-space: pre-line;
    max-height: 200px;
    overflow-y: auto;
    scrollbar-width: thin;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }
}