.Message {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-color);
  border: 1px solid var(--secondary-color);
  border-radius: 12px;

  &__text {
    white-space: pre-line;
  }

  &__user {
    align-self: flex-end;
    background: var(--skeleton-base-color);
  }

  &__footer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__meta {
    display: flex;
    flex-direction: column;
  }

  &__copy {
    width: 20px;
    height: 20px;
  }

}